/* CSS Reset Based on -
 *    Eric Meyer's Reset CSS v2.0 (http://cssreset.com)
 *    Paul Irish's Box Sizing Reset (http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
 *    CSS Mojo's clearfix (http://cssmojo.com/latest_new_clearfix_so_far/)
 */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box sizing */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Clearfix */

.cf:after {
  content:"";
  display:table;
  clear:both;
}



/* ---------------*/



html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(50, 50, 50);

}
a {
    color: inherit; 
}

small {
	font-size: 1rem;
	display: block;
	text-align: right;
}
strong {
	font-weight: 600;
}

h1 {
	font-size: 4rem;
	margin-bottom: 20px;
	font-weight: 600;
}


p.about {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

p {
	margin-bottom: 15px;
}

h2 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 20px;
}


h3 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 20px;
}


.container {
	margin: 100px auto;
	width: 90%;
	max-width: 800px;
}

@media screen and (max-width: 600px) {
	.container {
		margin: 50px auto;
	}
}



section {
	margin-bottom: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgb(220, 220, 220);
}








