/* LAYOUT */

.feature {
  background-color: $bg-colour;
  position: relative;
  border: 3px solid $theme;
  border-bottom: 0;
  display: none;
}

body.caniuse .feature {
  border-color: $theme-caniuse;
}

body.mdn .feature {
  border-color: $theme-mdn;
}

body.screenshot {
    padding-top: 10px;
}

.header {
  padding: 10px 10px 0;

  .title {
    margin-bottom: 5px;
    font-size: 2rem;

    span {
      margin-bottom: 5px;
      padding-right: 10px;
    }
  }

  .description {
    font-size: 1.6rem;
  }

  .icon-external-link {
    height: auto;
    max-height: 20px;
  }
}

.main {
  padding: 10px 5px;

  @media (min-width: 500px) {
    padding: 10px;
  }
}

.footer {
  padding: 5px 10px;
  margin-top: 20px;
  background-color: $theme;
  color: #FFF;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}

body.caniuse .footer {
  background-color: $theme-caniuse;
}

body.mdn .footer {
  background-color: $theme-mdn;
}

.footer button {
  background: none;
  border: 1px solid #FFF;
  border-radius: 3px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  cursor: pointer;
  display: none;
}

@supports (color: var(--supported)) {
  .footer button {
    display: inline-block;
  }
}

.footer button {
  .enable { display: inline; }
  .disable { display: none; }
}

.accessible-colours .footer button {
  .enable { display: none; }
  .disable { display: inline; }
}
