// Variables ************************** */

$theme: #DB5600;

$theme-caniuse: #DB5600;
$theme-mdn: #3d7e9a;

$bg-colour: #F2E8D5;
$dark-grey: #584E3B;

$supported: #39B54A;
$partial: #A8BD04;
$not-supported: #C44230;

$supported-a: #99FFB8;
$partial-a: #8090F9;
$not-supported-a: #E17085;

$unknown: #838383;

$font-colour: #FFF;

body {
  --supported: #39B54A;
  --partial: #A8BD04;
  --not-supported: #C44230;
  --font-colour: #FFF;
}

body.accessible-colours {
  --supported: #99FFB8;
  --partial: #8090F9;
  --not-supported: #E17085;
  --font-colour: #000;
}

// Mixins ************************** */

@mixin supports-grid {
  @supports (display: grid) {
    @content;
  }
}
